.many {
border: solid blueviolet
}
.not-many {
border: solid pink
}
.zero {
border: solid red
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

.container {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
}