li.active {
    background-color:darksalmon;

};

li.hover {
    background-color:lightgreen;
    border-style:dotted;
    border-radius: 5px;
}
body {
    max-width: 1500px;
    text-align: center;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
form {
    flex: auto;
}
